<!-- <p>configuration-menu works!</p> -->
<div class="configuration">
    <div class="header card">
        <h1>Configuration de partie</h1>
        <div class="btns">
            <button (click)="displayRules()">Règles</button>
            <button>Commencer</button>
        </div>
    </div>
    <div class="menu">
        <div class="board-conf card">
            <div class="board-options">
                <h3>Choisissez un plateau</h3>

                <div class="options">
                    <div class="option card">
                        <img src="assets/tree.svg">
                        Arbre
                    </div>
                    <div class="option card">
                        <img src="assets/tree.svg">
                        Configuration 2
                    </div>
                    <div class="option card">
                        <img src="assets/tree.svg">
                        Configuration 3
                    </div>
                </div>
            </div>

            <div class="params">
                <h3>Paramètres supplémentaires</h3>
                
                <div class="form">
                    <div class="input-field">
                        <label for="param1">Paramètre 1 : </label>
                        <input type="number" name="param1">
                    </div>
                    <div class="input-field">
                        <label for="param1">Paramètre 2 : </label>
                        <input type="number" name="param1">
                    </div>
                </div>
            </div>
        </div>

        <div class="game-params">
            <!-- Game Conf -->
            <div class="opponent card">
                <div class="type">
                    <h3>Choisissez votre type adversaire</h3>
                    <div class="options">
                        <div class="opponent-type card">
                            <img src="assets/vs_ai.svg">
                            Jouer contre un ordinateur
                        </div>
                        <div class="opponent-type card">
                            <img src="assets/vs_player.svg">
                            Jouer à 2 joueurs
                        </div>
                    </div>
                </div>

                <div class="side">
                    <h3>Choisissez votre camp</h3>
                    <div class="options">
                        <div class="option card">
                            <img src="assets/goat.svg">
                            Jouer contre un ordinateur
                        </div>
                        <div class="option card">
                            <img src="assets/harvest.svg">
                            Jouer à 2 joueurs
                        </div>
                    </div>
                </div>
            </div>

            <div class="collect card">
                <h3>Choisissez la vitesse de récolte</h3>
                <div class="input-field">
                    <label for="speed">Vitesse de récolte : </label>
                    <input type="number" name="speed">
                </div>
            </div>
        </div>
    </div>
</div>
