<!-- <p>game-mode-menu works!</p> -->

<div class="game-mode">
    <div class="header card">
        <img class="logo" src="assets/logo-TN.png" alt="Logo Terra Numerica">
        <h1 class="game-name">Jeu de la chèvre et des choux</h1>
    </div>
    <div class="content">
        <div class="game-option card" routerLink="/configuration">
            <img src="assets/free-game.svg" alt="icône de jeu libre">
            <label>Jeu libre</label>
        </div>
        <div class="game-option card">
            <img src="assets/rules.svg" alt="icône des règles">
            <label>Règles</label>
        </div>
    </div>
</div>
