<!-- <p>board works!</p> -->

<div class="board">
    <div class="header">
        <div class="btns card">
            <button (click)="goBackToMenu()">Home</button>
            <button (click)="replay()">Replay</button>
        </div>
        <div class="game-info card">
            <p>Chargement du plateau de jeu indisponible pour l'instant...</p>
        </div>
    </div>

    <div class="game-board card">
        <!-- Main part of this page. THE BOARD -->
    </div>

    <div class="footer card">
        <div class="game-actions">
            <button class="validate">Valider le tour</button>
        </div>
    </div>
</div>
